{% block sidebar %}
<!--Sidebar widgets Column -->
<div class="col-md-4 float-right p-3">
    <div class="card md-4">
        <h5 class="card-header">About Me</h5>

        <div class="card-body">
            <p class="card-text"> I am a Cybersecurity enthusiast and
                self-taught Web Developer,
                college graduate, with a interest in learning, literature and writing.
            </p>

            <p class="card-text"> This blog focuses on
                programming, scripting, and Cybersecurity topics and malware analysis for protection. </p>

            <!--#TODO  add Linkedin, Hackerrank, github icons and links-->
        </div>

    </div>
</div>
{% endblock sidebar %}

